
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" text="text/css" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


    <title>PlatFormLandingPage</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>

    <div class="d-flex p-1">
        <div class="d-flex ms-1 mt-2 storiesPolicy">
            <a class="nav-link" href="#">Storis</a>
            <a class="nav-link ms-4" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                Policy<i class="bi bi-chevron-down ms-1 mt-2"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
        </div>
        <div class="d-flex ms-auto profile-photo-name">
            <img src="~/images/user-img.png" style="border-radius: 50%; height: 40px; width: 40px"
                 class="profilePhoto" />
            <div class="dropdown mx-3 my-auto">
                <a class="nav-link profileName" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false" style="font-family: Roboto">
                    Evan Donohue
                    <i class="bi bi-chevron-down ms-1 mt-2 profileContent"></i>
                </a>
                <ul class="dropdown-menu profileContent">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another </a></li>
                    <li><a class="dropdown-item" href="#">Something </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between border-top border-bottom header2">
        <div class="">
            <nav class="navbar">
                <div class="container-fluid me-auto">
                    <form class="d-flex" role="search">
                        <i class="bi bi-search my-auto" style="opacity: 50%"></i>
                        <input class="form-control ms-2 border-0" type="search" placeholder="Search mission.."
                               aria-label="Search" />
                    </form>
                </div>
            </nav>
        </div>

        <div class=" my-auto d-flex m-0 ms-auto">
            <div class="me-0 ms-5 border-end">
                <div class="dropdown ">
                    <a class="nav-link filter-lg" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="font-family: Roboto">
                        Country <i class="bi bi-chevron-down ms-5 mt-2 my-auto"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="India" name="India" id=""
                                   class="checkbox ritu ms-3  ">India
                        </li>
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="USA" name="USA"
                                   class="ms-3 checkbox ">USA
                        </li>
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="Canada" name="Canada"
                                   class="ms-3 checkbox ">Canada
                        </li>
                    </ul>
                </div>
            </div>

            <div class="me-0 ms-3 border-end">
                <div class="dropdown my-auto">
                    <a class="nav-link filter-lg" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="font-family: Roboto">
                        City <i class="bi bi-chevron-down ms-5 mt-2"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="Ahmdabad" name="Ahmdabad" id=""
                                   class="checkbox ritu ms-3  ">Ahmdabad
                        </li>
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="Surat" name="Surat"
                                   class="ms-3 checkbox ">Surat
                        </li>
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="Rajkot" name="Rajkot"
                                   class="ms-3 checkbox ">Rajkot
                        </li>
                    </ul>
                </div>
            </div>

            <div class="me-0 ms-3 border-end">
                <div class="dropdown my-auto">
                    <a class="nav-link filter-lg" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="font-family: Roboto">
                        Theme <i class="bi bi-chevron-down ms-5 mt-2"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="Ahmdabad" name="Ahmdabad" id=""
                                   class="checkbox ritu ms-3  ">Ahmdabad
                        </li>
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="Surat" name="Surat"
                                   class="ms-3 checkbox ">Surat
                        </li>
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="Rajkot" name="Rajkot"
                                   class="ms-3 checkbox ">Rajkot
                        </li>
                    </ul>
                </div>
            </div>

            <div class="me-0 ms-3 border-end">
                <div class="dropdown my-auto">
                    <a class="nav-link filter-lg" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="font-family: Roboto">
                        Skill <i class="bi bi-chevron-down ms-5 mt-2"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="mathematics" name="mathematics" id=""
                                   class="checkbox ms-3  ">mathematics
                        </li>
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="agriculture" name="agriculture"
                                   class="ms-3 checkbox ">agriculture
                        </li>
                        <li class="dropdown-checkbox">
                            <input type="checkbox" value="reading" name="reading"
                                   class="ms-3 checkbox ">reading
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <button class="btn filter-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
            <img src="~/images/filter.png" />
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
             aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <div class="btn-group dropend">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Country <i class="bi bi-chevron-down ms-1 mt-2 my-auto"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="India" name="India" id=""
                                           class="checkbox ritu ms-3  ">India
                                </li>
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="USA" name="USA"
                                           class="ms-3 checkbox ">USA
                                </li>
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="Canada" name="Canada"
                                           class="ms-3 checkbox ">Canada
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown mt-2">
                        <div class="btn-group dropend">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                City <i class="bi bi-chevron-down ms-1 mt-2 my-auto"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="Ahmdabad" name="Ahmdabad" id=""
                                           class="checkbox ritu ms-3  ">Ahmdabad
                                </li>
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="Surat" name="Surat"
                                           class="ms-3 checkbox ">Surat
                                </li>
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="Rajkot" name="Rajkot"
                                           class="ms-3 checkbox ">Rajkot
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown mt-2">
                        <div class="btn-group dropend">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Theme <i class="bi bi-chevron-down ms-1 mt-2 my-auto"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="India" name="India" id=""
                                           class="checkbox ritu ms-3  ">India
                                </li>
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="USA" name="USA"
                                           class="ms-3 checkbox ">USA
                                </li>
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="Canada" name="Canada"
                                           class="ms-3 checkbox ">Canada
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown mt-2">
                        <div class="btn-group dropend">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Skill <i class="bi bi-chevron-down ms-1 mt-2 my-auto"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="mathematics" name="mathematics" id=""
                                           class="checkbox ritu ms-3  ">mathematics
                                </li>
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="agriculture" name="agriculture"
                                           class="ms-3 checkbox ">agriculture
                                </li>
                                <li class="dropdown-checkbox">
                                    <input type="checkbox" value="reading" name="reading"
                                           class="ms-3 checkbox ">reading
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    
    
    <div class="d-flex align-items-center flex-wrap justify-content-center">

        <div class="filters-section11 d-flex align-items-center flex-wrap justify-content-center">
        
    </div>
    <span class="filter-list  ps-1 pe-1 mt-4 " id="ClearBtn" style="display:none;">Clear All<button class="filter-close-button" id="clearbutton">&times;</button></span>
    </div>




    @RenderBody()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
0  