@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" text="text/css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <script src="JavaScript\bootstrap.bundle.min.js"></script>
    <title>LoginPage</title>
</head>

    <div class="card ms-5 me-4 border-0 centerLogin">
        <div class="card-body mt-5">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1"
                           placeholder="name@gmail.com" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="EnterPassword">
                </div>
                <button type="button" class="button mt-3">Login</button>
                <p class="d-flex justify-content-center mt-4">
                    <a asp-action="ForgotPassword" asp-controller="Home" class="link1">
                        Lost your Password?
                    </a>
                </p>
                 <p class="d-flex justify-content-center mt-4 createacc">
                Don't have an account?
                <a asp-action ="RegistrationPage" asp-controller="Home" class="link2 ms-1 ">Create an account</a>
            </p>
            </form>
            <p class="d-flex justify-content-center mt-5 pp">Privacy Policy</p>
        </div>
    </div>
</html>
