.center{
    margin-top: 20%;
    padding: 2%;
}
/* img{
    height: 650px;
    object-fit: fill;
} */
.button{
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    width: 100%;
    padding: 1.5%;
    color: #F88634;
}
.link1{
    text-decoration: none;
    color:#414141;
}
.link2{
    text-decoration: none;
}
.pp{
    color: #414141;
}
.createacc, .link1{
    font-size: 14px;
}
.smtext{
    font-size: 50%;
}

@media screen and (max-width:992px){
    .center{
        margin-top: 0%;
        top: 0% !important;
        padding: 0;
    }
}
@media screen and (min-width:992px){
    img{
        height: 744px;
    }
    .center{
        padding: 10px;
    }
}